MONIKER=verveine_dev.validator01
ACCOUNT_NAME=verveine_dev

AMOUNT=100tsent
FEES=1tsent
GAS=200000

COMMISSION_RATE=0.01
COMMISSION_MAX_RATE=0.2
COMMISSION_MAX_CHANGE_RATE=0.1

MIN_SELF_DELEGATION=1
BROADCAST_MODE=block

SYNC_DELAY_ISSUES=n
